@mixin share-block($color) {
  background: lighten($color, 10%);

  &:hover {
    background: $color;
  }
}

@mixin size($size) {
  height: $size;
  width: $size;
  line-height: $size;
  border-radius: $size / 2;
}

.social-share {
  li {
    display: inline-block;
    margin-right: 5px;
    transition: transform 0.5s;

    a {
      color: #fff;
      display: inline-block;
      font-size: 18px;

      @include size(36px);
    }
  }

  li:hover {
    transform: rotate(360deg);
  }

  .wechat a {
    @include share-block(#77cc6d);
  }

  .github a {
    @include share-block(#b5b5b5);
  }

  .facebook a {
    @include share-block(#3B5998);
  }

  .linkedin a {
    @include share-block(#2ac4ea);
  }

  .feed a {
    @include share-block(#f6653c);
  }
}

.social-share-lg li a {
  font-size: 24px;

  @include size(48px);
}

.social-share-md li a {
  font-size: 18px;

  @include size(36px);
}

.social-share-sm li a {
  font-size: 14px;

  @include size(24px);
}

.social-share-md li a {
  font-size: 12px;

  @include size(16px);
}

