.social-share li {
  display: inline-block;
  margin-right: 5px;
  transition: transform 0.5s;
}

.social-share li a {
  color: #fff;
  display: inline-block;
  text-align: center;
}

.social-share li:hover {
  transform: rotate(360deg);
}

.social-share-lg li a {
  font-size: 24px;
  height: 64px;
  width: 64px;
  line-height: 64px;
  border-radius: 32px;
}

.social-share-md li a {
  font-size: 20px;
  height: 48px;
  width: 48px;
  line-height: 48px;
  border-radius: 24px;
}

.social-share-sm li a {
  font-size: 16px;
  height: 36px;
  width: 36px;
  line-height: 36px;
  border-radius: 18px;
}

.social-share-xs li a {
  font-size: 12px;
  height: 24px;
  width: 24px;
  line-height: 24px;
  border-radius: 12px;
}


/* brand logos */

.social-share .wechat a {
  background: #9ad993;
}

.social-share .wechat a:hover {
  background: #77cc6d;
}

.social-share .github a {
  background: #cfcfcf;
}

.social-share .github a:hover {
  background: #b5b5b5;
}

.social-share .facebook a {
  background: #4c70ba;
}

.social-share .facebook a:hover {
  background: #3B5998;
}

.social-share .linkedin a {
  background: #58d1ef;
}

.social-share .linkedin a:hover {
  background: #2ac4ea;
}

.social-share .feed a {
  background: #f88c6d;
}

.social-share .feed a:hover {
  background: #f6653c;
}

.social-share .google-plus a {
  background: #EF5E53;
}

.social-share .google-plus a:hover {
  background: #D0443A;
}

.social-share .weibo a {
  background: #FF4A5E;
}

.social-share .weibo a:hover {
  background: #E6162D;
}

.social-share .rss a {
  background: #f88c6d;
}

.social-share .rss a:hover {
  background: #f6653c;
}

.social-share .twitter a {
  background: #55acee;
}

.social-share .twitter a:hover {
  background: #0084B4;
}

.qrcode-dialog {
  width: auto;
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  width: 286px;
  height: 322px;
  margin-top: -150px;
  margin-left: -143px;
  border-radius: 5px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, .5);
  background: #fff;
}

.qrcode-dialog.show {
  display: block;
}

.qrcode-dialog .qrcode-header{
  padding: 15px 15px 5px;
}

.qrcode-dialog .qrcode-header .dismiss {
  float: right;
  font-weight: bold;
  cursor: pointer;
}

.qrcode-dialog .qrcode-body {
  padding: 10px 15px;
}
